.SimpleTicTacToe {
  text-align: center;
  background-color: #f87060;
  height: 100vh;
}

table {
  margin: 0 auto;
}
td {
  width: 150px;
  height: 150px;
  border-right: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
}

tr:last-child > td {
  border-bottom: none;
}
td:last-child {
  border-right:none;
}

td:hover {
  background-color: blue;
  cursor: pointer;
}